.playfield
	absolute top left right bottom
	size 100%
	background rgba(255, 255, 255, 0.7)

	&-wrap
		absolute top left right bottom
		display flex
		justify-content center
		align-items center

	&-title
		margin 15px
		text-align center

	&-image
		display none
