include ../mixins/shape


.playfield-wrap
	h1.playfield-title Gotta catch 'em all!
	img.playfield-image#playfield-go(src='./images/go.svg')
	canvas.playfield#playfield

script.
	initComponents.push({
		name: 'playfield',
		place: '#playfield',
		data: {
			go: '#playfield-go'
		}
	})
